---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeremy Rigaldo" description="">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="My best representation"
				/>
			</Hero>
			<section>
				<h2 class="section-title">Avancé</h2>
				<div class="content">
					<p><strong>HTML5</strong>, <strong>CSS</strong> (SASS, Tailwind), <strong>GIT</strong>, <strong>PHP</strong> (Symfony), <strong>ORM</strong> (Doctrine), <strong>MySQl</strong> (MariaDB), <strong>Javascript</strong> (JQuery), <strong>Webpack</strong></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Intérmediaire</h2>
				<div class="content">
					<p><strong>Javascript</strong> (React), <strong>Redux</strong>, <strong>Docker</strong>, <strong>Apache Server</strong></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">High proficiency</h2>
				<div class="content">
					<p>Conception de design UX/UI et son intégration dans des frameworks Front comme Back.</p>
					<p>Je maîtrise de Symfony et son ORM Doctrine</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<!--p>Having been trained in graphic design at ERACOM, I quickly delved into the web universe by creating my first websites for personal projects. Becoming independent, I designed and developed custom WordPress themes to meet the specific needs of my clients.</p-->
					<p>My passion for aesthetics and functionality drove me to excel in UX/UI, ensuring an optimal user experience. This naturally led me to web integration, adapting my designs to various frameworks.</p>
					<p>Being self-taught led me to master JavaScript, and I quickly became familiar with frameworks such as React. More recently, wanting to further broaden my skillset, I undertook to learn PHP, and today, I can proudly state my proficiency in the Symfony framework.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education continue</h2>
				<div class="content">
					<p><strong>Grafikart.fr</strong> (Apprendre et maîtriser MYSQL, Symfony 4 par l'exemple, Apprendre PHP), <strong>udemy.com</strong> (React For The Last Of Us, React + Redux pour débutant, React V16 + Redux avancé, NodeJS + MongoDB (NoSQL) + Express serveur pour
						débutant), <strong>codcademy.com</strong> (Course completed Leard Javascript)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>High School Diploma, Sergent Army School, CFC Graphic Designer</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
